@page
@model ServiceAccountsModel
@{
    ViewData["Title"] = "Service Accounts";
}

<h1>Service Account List</h1>

<h2>Namespace: @Model.Namespace</h2>

@if (@Model.ServiceAccounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Automount Token</th>
                <th>Secrets</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sa in @Model.ServiceAccounts)
            {
            <tr>
                <td>@sa.Name</td>
                <td>@sa.AutomountServiceAccountToken.ToString()</td>
                <td>@sa.SecretCount.ToString()</td>
            </tr>
            }
        </tbody>
    </table>
}

